streamlit==1.32.0
deepface==0.0.95
tensorflow==2.10.1
keras==2.10.0
numpy==1.23.5
pandas==1.5.3
protobuf==3.19.6
opencv-python==4.8.1.78
pillow==9.5.0
mtcnn==0.1.1
retina-face==0.0.13
gdown==4.7.1
tqdm==4.66.1
requests==2.31.0